body {
	border:1px solid #CCCCCC;
	direction:rtl;
	font-family:Traditional arabic;
	font-size:30px;
	padding:15px;
	text-align:center;
}
.txt {
	padding:10px 0;
}
.soraname {
	border:1px solid #CCCCCC;
	color:#444444;
	font-size:30px;
	margin-left:5px;
	margin-right:5px;
	margin-bottom:25px;
	text-align:center;
}
.ayanumber {
	color:Teal;
	margin-left:4px;
	margin-right:4px;
}
.ayatxt {
	font-size:30px;
	text-align:justify;
}
.bassemala {
	color:DarkBlue;
	margin-bottom:5px;
	text-align:center;
}
.highlighted{
	color: #ec0033;
}
