Source: moltaqa-lib
Section: universe/text
Priority: extra
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
XSBC-Original-Maintainer: Ahmed Saidi <ahmed7saidi@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), libqtcore4 (>= 4.7.0), libqtgui4 (>= 4.7.0), libqtwebkit4, libqt4-sql-sqlite (>= 4.7.0), libmdbtools
Standards-Version: 3.9.1
Homepage: http://ahlalhdeeth.com

Package: moltaqa-lib
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Moltaqa Library is an Arabic and Islamic Library
 Moltaqa Library is an arabic library, it can help in reading and
 searching in thousnd of islamic books, mean features:
  * Cross-platform C++ application, run on Windows and Linux
  * Can import books from Shamela library
  * Fast indexing and searching
  * Use HTML/CSS to display books pages
