#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

include /usr/share/quilt/quilt.make

export CLUCENE_SOURCE_PATH=/home/naruto/Programming/clucene
export CLUCENE_BUILD_PATH=/home/naruto/Programming/clucene-release
export DEFAULT_INSTALL_PREFIX=/usr
export QMAKE=qmake

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp

	# Add here commands to clean up after the build process.
	rm -rf builddir
	find . -name .obj | xargs rm -rf

	dh_clean

build: build-stamp

builddir:
	mkdir -p builddir

builddir/Makefile: builddir patch
	cd builddir && $(QMAKE) PREFIX=$(DEFAULT_INSTALL_PREFIX) ../moltaqa-lib.pro

build-stamp: builddir/Makefile
	dh_testdir

	# Add here commands to compile the package.
	cd builddir && $(MAKE) -j2

	touch $@

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs

	# Add here commands to install the package into debian/moltaqa-lib
	cd builddir && $(MAKE) INSTALL_ROOT=$(CURDIR)/debian/moltaqa-lib install
	test -d $(CURDIR)/debian/moltaqa-lib$(DEFAULT_INSTALL_PREFIX)/lib || mkdir $(CURDIR)/debian/moltaqa-lib$(DEFAULT_INSTALL_PREFIX)/lib
	cp -d -v $(CLUCENE_BUILD_PATH)/bin/libclucene-* $(CURDIR)/debian/moltaqa-lib$(DEFAULT_INSTALL_PREFIX)/lib


binary-indep: install
# There are no architecture-independent files to be uploaded
# generated by this package.  If there were any they would be
# made here.

binary-arch: install
	#dh_installdocs -a NEWS
	#dh_installchangelogs -a ChangeLog
	#dh_installinfo -a doc/*.info
	dh_strip -a
	dh_compress -a
	dh_fixperms -a
	dh_installdeb -a
	#dh_shlibdeps -a
	dh_gencontrol -a
	dh_md5sums -a
	dh_builddeb -a

binary: binary-indep binary-arch

.PHONY: binary binary-arch binary-indep clean
