body {
    direction: rtl;
    background: url("images/bg_01.png") repeat scroll 0 0 transparent;
    font-size: 15px;
}

#vertical-wrapper {
    display:table;
    height: 60%;
    width: 100%;
}

#vertical-wrapper #v-cell {
    display:table-cell; 
    vertical-align:middle;
}

#welcome {
    text-align: center;
}

#welcome a:visited {
    color: blue;
}

#welcome #title {
    margin: 0 25px;
}

#welcome #title img{
    cursor: pointer;
}

#welcome #icons{
    margin: 20px 0;
}
#welcome #icons p{
    padding: 0;
    margin: 0;
}

#welcome #icons .icon{
    background-image: -moz-linear-gradient(#FFFFFF, #E1E1E1);
    background-image: -webkit-linear-gradient(#FFFFFF, #E1E1E1);
    border: 1px solid #CCCCCC;
    box-shadow: 0 0 5px 0 #CCCCCC;
    cursor: pointer;
    padding: 5px;
    margin: 0 3px;
    display: inline-block;
    min-width: 100px;
    border-radius: 5px;
}

#welcome #icons .icon img{
    margin-bottom: 5px;
}

#welcome #icons .icon p{
    color: blue;
}
