body {
    direction: rtl;
    background: url("images/bg_01.png") repeat scroll 0 0 transparent;
}

#vertical-wrapper {
    margin-top: 40px;
    text-align: center;
}

#vertical-wrapper #v-cell {
}

#welcome {
    text-align: center;
    font-size: 0.7em;
}

#welcome a:visited {
    color: blue;
}

#welcome #title {
    margin: 0 25px;
}

#welcome #title img{
    cursor: pointer;
}

#welcome #icons{
    margin: 20px 0;
}
#welcome #icons p{
    padding: 0;
    margin: 0;
}

#welcome #icons .icon{
    background-color: #EEEEEE;
    background-image: -moz-linear-gradient(#FFFFFF, #E1E1E1);
    background-image: -webkit-linear-gradient(#FFFFFF, #E1E1E1);
    border: 1px solid #CCCCCC;
    box-shadow: 0 0 5px 0 #CCCCCC;
    cursor: pointer;
    padding: 5px;
    margin: 0 3px;
    display: inline-block;
    min-width: 100px;
    border-radius: 5px;
}

#welcome #icons .icon img{
    margin-bottom: 5px;
}

#welcome #icons .icon p{
    color: blue;
}

#statistics {
    display: none;
    margin-top: 30px;
    text-align: center;
    font-size: 15px;
}

#statistics p {
    padding: 0;
    margin: 0;
}

#statistics table {
    background-color: #FFFFFF;
    background-image: -moz-linear-gradient(#FFFFFF, #E8E8E8, #FFFFFF);
    background-image: -webkit-linear-gradient(#FFFFFF, #E8E8E8, #FFFFFF);
    border: 1px solid #DADADA;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 5px 1px #CCCCCC, 0 0 3px 0 #CCCCCC inset;
    display: inline-table;
    padding: 15px;
    font-size: 15px;
}

